

server:
  port: 8000

spring:
  application:
    name: chat-service
  data:
    mongodb:
      uri: mongodb://junwen:secret@localhost:27017/${spring.data.mongodb.database}
      database: chat

app:
  scheduledChatMessage: false
  dateTimeFormat: yyyy-MM-dd HH:mm:ss.SSS
  dateFormat: yyyy-MM-dd
  timeFormat: HH:mm
  timeZone: Asia/Singapore
  encrypt:
    password: password123
    salt: 2e93988d-bc7b-47cc-8e90-30795c642e37
  defaultAvatar: "https://cdn.vuetifyjs.com/images/parallax/material.jpg"

rabbitmq:
  queues:
    sendChat: SendChatMessage

springdoc:
  api-docs:
    enabled: true
    path: /rest-api-docs
  swagger-ui:
    path: /swagger-ui

cors:
  allowedOrigins: http://localhost:8080,http://localhost:8081
  allowedHeaders: authorization,content-type,x-auth-token
  allowedMethods: GET,POST,PUT,PATCH,DELETE,OPTIONS
  allowedCredentials: true

jwt:
  secret: EUQQ7Cltj9yKwhOsUgWTwW3BYkv8dmUz9yjiBCpfsqaggE6aj2fLyJfLoLrTE6j
  issuer: localhost


